<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <% include ../views/partials/head %>
  </head>
  <body>
   <header>
        <% include ../views/partials/header %>
    </header>

    <h1>MRPO</h1>
    <div class="container">
    <div class="starter-template">
    <p class="lead">
    	MRPO (Medication Reminder and Pill organizer) in android 

eliminates the need for paperwork prescriptions that has to be filled out by 

doctors and saved for reference. Once the patients install the app in the 

mobile phone, they will have a digital account where their information is 

stored. This will make subsequent check of prescriptions quick and efficient. 

MRPO also sends reminders to the patients in case they need to purchase 

medicines after the medical course given by doctor is completed.

It is ideal for patients and pharmacy industry. We could maintain a history of 

bills and prescriptions. And because all your materials will be in one place–in 

your mobile–everything you need will be at your fingertips when it’s time to 

communicate with doctors or at pharmacy.
	</p>
	</div>
    </div>
  </body>
</html>
